/* Contenedor del calendario */
.calendar-section {
  background-color: white;
  padding: 20px;
  text-align: center;
  border-bottom: 3px solid green;
  min-height: 400px;
}

/* Cabecera del calendario */
.calendar-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 40px 0;
  position: relative;
}

h2 {
  font-size: 28px;
  font-weight: bold;
  color: black;
}

/* Selectores de año y mes */
.year-dropdown, .month-dropdown {
  position: relative;
  display: inline-block;
  background: transparent;
  color: black;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  border: 2px solid black;
  padding: 10px 30px;
  border-radius: 5px;
  cursor: pointer;
  appearance: none;
}

.year-dropdown:hover, .month-dropdown:hover {
  background: rgba(0, 0, 0, 0.1);
}

.year-dropdown:focus, .month-dropdown:focus {
  outline: none;
  background: rgba(0, 0, 0, 0.2);
}

/* Frase inspiradora */
.quote {
  font-size: 14px;
  color: gray;
  max-width: 500px;
  text-align: center;
  line-height: 1.5;
}

/* Contenedor de meses */
.months-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin: 40px 0;
}

/* Estilos de los meses */
.month {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  width: 100px;
  height: 100px;
  border: 2px solid gray;
  border-radius: 10px;
  font-weight: bold;
  font-size: 14px;
  color: gray;
  cursor: pointer;
  transition: all 0.3s ease;
}

.month.active, .month:hover {
  background-color: green;
  color: white;
  border-color: green;
}

.calendar-icon {
  font-size: 24px;
  margin-bottom: 5px;
}

/* Diseño del logo interactivo */
.image-container {
  width: 120px;
  height: 80px;
  overflow: hidden;
  cursor: pointer;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px auto;
  margin-bottom: 40px;
  border-radius: 15px;
}

.image-container img {
  width: 80%; 
  transition: transform 0.5s ease, filter 0.5s ease, width 0.5s ease, background-color 0.5s ease;
  border-radius: 15px;
}

.image-container:hover img {
  filter: brightness(1.2) contrast(1.2); 
  width: 90%; 
}

.image-container:hover {
  background-color: black;
}

/* Contenedor de eventos */
.events-section {
  margin-top: 20px;
}

.events-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 40px;
}

/* Tarjetas de eventos */
.event-card {
  background-color: #f9f9f9;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 250px;
  margin: 10px;
}

.event-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}

.event-card h4 {
  font-size: 1.2rem;
  margin-bottom: 8px;
  color: #333;
}

.event-card p {
  margin: 5px 0;
}