
.custom-navbar {
  width: 100%;
  height: 200px;
  background: url("../archivos/img/fondo.jpg") top/cover no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  align-items: flex-start;
  padding: 20px; 
  color: white;
  transition: height 0.5s ease-in-out, background 0.5s ease-in-out;
}


.custom-navbar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}


.custom-navbar * {
  position: relative;
  z-index: 2;
  color: white !important;
}


.navbar-container {
  display: flex;
  justify-content: flex-start; 
  align-items: center; 
  width: 100%; 
  padding: 0; 
  margin: 0; 
  box-sizing: border-box; 
}


.left-section {
  display: flex;
  align-items: center;
  
}

.navbar-logo {
  width: 200px;
  height: auto;
  transition: width 0.5s ease, height 0.5s ease;
}


.nav-links-container {
  display: flex;
  align-items: end;
  justify-content: flex-end; 
  gap: 20px; 
  position: relative; 
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 25px; 
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 550px;
}


.user-section {
  display: flex;
  align-items: center;
  gap: 10px; 
  margin-left: auto;
  padding-right: 20px; 
}

.user-icon {
  font-size: 25px;
  cursor: pointer;
}

.user-name {
  font-size: 16px;
  font-weight: bold;
}

.profile-link {
  font-size: 14px;
  color: #ffcc00;
  text-decoration: none;
}

.profile-link:hover {
  text-decoration: underline;
}

.search-section {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  background-color: transparent;
  padding-left: 40px;
}

.search-icon {
  font-size: 25px;
  color: white;
  cursor: pointer;
}

.search-icon:hover {
  transform: scale(1.2);
}

.search-input {
  border: none;
  border-bottom: 2px solid white;
  outline: none;
  background-color: transparent;
  color: white;
  font-size: 16px;
  flex-grow: 1;
  padding: 5px 10px;
}


.custom-navbar.scrolled {
  height: 130px;
}

.navbar-logo.scrolled {
  width: 150px;
  height: auto;
}


@media (max-width: 992px) {
  .custom-navbar {
    height: 200px;
    padding: 10px;
  }

  .left-section {
    justify-content: center;
    width: 100%;
  }

  .navbar-logo {
    height: 60px;
  }

  .nav-links-container {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
  }

  .user-section {
    justify-content: center;
    padding-right: 0; 
  }
}

@media (max-width: 768px) {
  .custom-navbar {
    height: 150px;
    padding: 5px;
  }

  .navbar-logo {
    height: 50px;
  }

  .user-section {
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding-right: 0;
  }
}
